<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bg-menu-bar">
            <!-- <ion-nav-back-button></ion-nav-back-button> -->
            <ion-nav-buttons side="left">
                <button class="button button-icon ion-navicon icon-bar" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="cave"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-cave">
        <ion-header-bar class="bg-menu-bar">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.bottles" menu-close="">Bouteilles</ion-item>
                <ion-item ui-sref="menu.wines" menu-close="">Appellations</ion-item>
                <ion-item ui-sref="menu.regions" menu-close="">Régions</ion-item>
                <ion-item ui-sref="menu.wineries" menu-close="">Domaines</ion-item>
                <ion-item ui-sref="menu.types" menu-close="">Classifications</ion-item>
                <ion-item ui-sref="menu.users" menu-close="">Utilisateurs</ion-item>
                <ion-item ui-sref="menu.orders" menu-close="">Commandes</ion-item>
                <ion-item ui-sref="menu.statistics" menu-close="">Statistiques</ion-item>
                <ion-item ui-sref="menu.login" menu-close="">Connexion</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>